.dash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.sort-button-container {
  margin-bottom: 20px;
}

.sort-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.sort-button:hover {
  background-color: rgb(28, 28, 82);
}

.questions-section {
  width: 100%;
  margin-bottom: 20px;
}

.question-create-form-section {
  width: 400px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
