.questions-section {
  margin: -10px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
}

.question-container {
  margin-bottom: -1px;
  padding: 10px;
  border: 1px solid #ccc;
}

.question-container h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.question-container p {
  margin-bottom: 10px;
}

.btn-style {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.btn-style + .btn-style {
  margin-left: 5px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
