.link {
  display: block;
  margin-bottom: 10px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.answer {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.content {
  font-weight: bold;
}

.form {
  margin-top: 10px;
  width: 80vw;
}
