.container {
  margin-top: 20px;
}

.link {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.answer {
  margin-top: 10px;
}

.content {
  font-size: 14px;
}
